html, body {
  height: 100%;
}

body {
	font-family: "Segoe UI", Arial, sans-serif;
}

h1 {
	display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
	display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.login{
  background-color: #515151;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Inter', sans-serif; 
}

.banner {
	height: 100%;
	background-color: #1da1f2;
}

.title {
	color: #1da1f2;
	font-size: 27px;
    line-height: 32px;
}

.subtitle {
	color: #14171a;
    font-size: 18px;
    line-height: 24px;
    margin: 16px auto;
}

.form-control {
	background-color: #fff;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
}

.comunicacao {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.communicationItem {
	color: #fff;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: 48px auto;
    position: relative;
}

.menu {
    background: #fff;
    height: 46px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.menuItem, .menuItem:hover {
    font-size: 13px;
    font-weight: bold;
    color: #1DA1F2;
    text-decoration: none;
    margin-right: 25px;

}

.menuIco {
    width: 31px;
    height: 23px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-10px;
    margin-left:-15px;
}

.col-md-3 {
    border: 1px solid #e6ecf0;
    background: #fff;
    position: relative;
    margin-bottom: 10px;
    display: block;
    width: 100%;

}

.perfilTopo {
    height: 95px;
    background-color: #1DA1F2
}

.perfilPainel {
    padding-right: 10px;
    padding-left: 10px;
}

.perfilPainelNome {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.perfilPainelItem  {
    color: #657786;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .02em;
    line-height: 16px;
    overflow: hidden;
    transition: color .15s ease-in-out;
}

.perfilPainelItemValor {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
    transition: color .15s;
    color: #1DA1F2 !important;
}

.tweetBox {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border: 1px solid #e6ecf0;
    background-color: #E8F5FD;
    padding:25px;
}

.quemSeguir {
    border: 1px solid #e6ecf0;
    background: #fff;
    position: relative;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.quemSeguirTitulo {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.quemSeguirTxt, .quemSeguirTxt:hover {
    color: #1DA1F2;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
}

.tweet {
    padding:15px;
    border-bottom: 1px solid #e6ecf0;
    cursor: pointer;
}

.tweet:hover {
    background-color: #f5f8fa;
}

.form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-bottom: 10px;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.input-group input {
  width: 90%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175,1);
  margin: 8px 0 14px 0;
}

.forgot a,.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover, .signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
  margin-top: 20px;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: #0582CA;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  cursor: pointer;
}

.sign a{
  text-decoration: none;
  color: rgba(17, 24, 39, 1);
  display: block;
  padding: 12px 0px;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
  
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

.linha-1{
  width: 100%;
  height: 70px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

.nome{
  margin-top: 11px;
  font-size: 14px;
}

.nome a{
  text-decoration: none;
  color: #000000E6;
}

.nome a:hover{
  text-decoration: underline;
}

.lugar{
  font-size: 12px;
  color: #00000099;
}

.tempo{
  font-size: 12px;
  height: 20px;  
  color: #00000099;
}

.linha-2{
  margin-top: 1px;
  font-size: 14px;
  color: #000000E6;
  margin-left: 10px;
}

.linha-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.publicar-perfil img{
  margin-top: 10px;
  margin-right: 10px;
  width: 42px;
  height: 40px;
  padding: 5px;
  border-radius: 20px;
}

.form-publicacao{
  border-radius: 20px;
}

.personal-image {
  text-align: center;
}
.personal-image input[type="file"] {
  display: none;
}

.personal-figure {
  position: relative;
  width: 120px;
  height: 120px;
}

.personal-avatar {
  cursor: pointer;
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  border-radius: 100%;
  border: 2px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out .3s;
}
.personal-avatar:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.personal-figcaption {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
  border-radius: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out .3s;
}
.personal-figcaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
}
.personal-figcaption > img {
  margin-top: 32.5px;
  width: 50px;
  height: 50px;
}